body {
    background-color: #F8F9FA;
}
nav {
    display: flex;
    justify-content: center;
    gap: 3em;
}
nav > div {
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    margin-top: 2em;
    width: 33%;
}
nav a {
    flex-basis: 100px;
    text-decoration: none;
    font-size: 3em;
    color: black;
    border-radius: 10px;
    padding: .3em;
    font-size: 1em;
}
#resumeDownload{
    width: 33%;
    justify-content: center;
    margin-top: 11px;
}
div h1 { 
    clear: both;
}
#intro{
    text-align: center;
}
#contactInfo{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 85%;

}
hr{
    width: 70%;
}
.socialMedia {
    padding-left: 2em;
}

.socialMedia img{
   width: 3em;
}