body {
    background-color: #F8F9FA;
}
nav {
    display: flex;
    justify-content: center;
}
nav > div {
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    margin-top: 2em;
    width: 33%;
}

nav a {
    flex-basis: 100px;
    text-decoration: none;
    font-size: 3em;
    color: black;
    background-color: #FF5A5F;
    border-radius: 10px;
    padding: .3em;
}

#resumeDownload{
    width: 33%;
    justify-content: center;
    margin-top: 11px;
}
div h1 { 
    clear: both;
}